h1{font-size: 50px;color:#000000;}

p{font-size: 50px;color:#000000;}

a{font-size: 50px;color:#000000;}

body{background-color:#00ffff;}

.s2{width:250px;hight:50px;border-radius:25px;font-size:35px;color:white;
border-style:dashed; margin: 5px 230px;}

.s1{padding:25px 30px;border-radius:50px;font-size:25px;color:white;
border:5px solid black;margin: 5px 45px;}

.b1{background-color:#000000;}

.b2{background-color:#37474F;}
