h1{font-size: 100px;color:#000000;}

p{font-size: 100px;color:#000000;}

body{background-color:#00ffff;}

.s2{width:500px;hight:100px;border-radius:50px;font-size:70px;color:white;
border-style:dashed; margin: 5px 230px;}

.s1{padding:50px 60px;border-radius:100px;font-size:50px;color:white;
border:5px solid black;margin: 5px 45px;}

.b1{background-color:#000000;}

.b2{background-color:#37474F;}
